<div fxLayout="row wrap" class="projects-wrapper">
  <div *ngFor="let project of projects" fxFlex="100" fxFlex.gt-sm="50" class="flex-p">
      <mat-card>
        <img mat-card-image [src]="project.image" alt="">
        <mat-card-content>
          <h2 class="text-center">{{project.name}}</h2>
          <p class="text-justify mt-2">{{project.desc}}</p>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions fxLayoutAlign="space-between center">
          <div fxLayoutAlign="start center">  
            <button mat-icon-button><mat-icon class="muted-text">share</mat-icon></button>
            <button mat-icon-button><mat-icon class="muted-text">favorite</mat-icon></button> 
            <span class="followers">{{project.followers}}</span>          
          </div>
          <div>
            <a href="javascript:void(0);" mat-button  class="muted-text">
              Live Preview <mat-icon>insert_photo</mat-icon>
            </a>
          </div>          
        </mat-card-actions>
      </mat-card>
  </div>
</div> 