<mat-sidenav-container>

  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">

       <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60">

            <mat-card class="p-0 mat-elevation-z24 box">
                <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header">
                    <h1 class="box-content-header">{{ 'page.login'|translate }}</h1>  
                </div>
                <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
                    <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner">
                        <mat-form-field class="w-100">
                            <input matInput type="email" placeholder="{{'label.email'|translate }}" formControlName="email">
                            <mat-error *ngIf="loginForm.controls['email'].errors?.required">{{ 'error.field-required'|translate }}</mat-error>
                            <mat-error *ngIf="loginForm.controls['email'].hasError('invalidEmail')">{{ 'error.email'|translate }}</mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <input matInput type="password" placeholder="{{'label.password'|translate }}" formControlName="password">
                            <mat-error *ngIf="loginForm.controls['password'].errors?.required">{{ 'error.field-required'|translate }}</mat-error>
                            <mat-error *ngIf="loginForm.controls['password'].hasError('minlength')">{{ 'error.minpassword'|translate }}</mat-error>
                        </mat-form-field> 
                    </mat-card>
                    <button mat-raised-button color="primary" class="mat-elevation-z12 box-button" type="submit">{{ 'button.let\'s go'|translate }}</button>
                </mat-card-content>
            </mat-card>
            <div fxLayout="column" fxLayoutAlign="center center" class="box-footer">
              <a mat-button routerLink="forgot-password">{{'message.Do you forget yous password?'|translate }}</a>
            </div>
       </form>  
  </div>
</mat-sidenav-container>