
<mat-card class="p-0">  
    <div class="bg-primary text-center py-1">       
        <h2>{{ 'page.reset password'|translate }}</h2> 
    </div> 
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit(passwordForm.value)" fxLayout="row wrap" class="user-form p-1">
        <div fxFlex="100" class="p-1">
            <mat-form-field class="w-100">
                <mat-label>{{'label.password'|translate }}</mat-label>
                <input matInput autocomplete="off" placeholder="{{ 'label.password'|translate }}" formControlName="password" type="password">
                <mat-error *ngIf="passwordForm.controls['password'].errors?.required">{{ 'error.field-required'|translate }}</mat-error>                
                <mat-error *ngIf="passwordForm.controls['password'].errors?.minlength">{{ 'error.minpassword'|translate }}</mat-error>
            </mat-form-field> 
        </div>

        <div fxFlex="100" class="p-1">
            <mat-form-field class="w-100">
                <mat-label>{{'label.confirm_password'|translate }}</mat-label>
                <input matInput autocomplete="off" placeholder="{{ 'label.confirm_password'|translate }}" formControlName="confirmPassword" type="password">
                <mat-error *ngIf="passwordForm.controls['confirmPassword'].errors?.required">{{ 'error.field-required'|translate }}</mat-error>                  
                <mat-error *ngIf="passwordForm.controls['confirmPassword'].errors?.mustMatch">{{ 'error.password-mismatch'|translate }}</mat-error>
             </mat-form-field> 
        </div>

        <div fxFlex="100" class="p-1 text-center">
            <button mat-raised-button color="primary" class="uppercase mx-1" type="submit"> {{ 'button.new password'|translate }}</button>             
        </div>

     </form> 
</mat-card>