<mat-sidenav-container>

    <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit(passwordForm.value)" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60">
            <mat-card class="p-0 mat-elevation-z24 box">
                <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header">
                    <h3 class="box-content-header">{{ 'page.reset password'|translate }}</h3>  
                </div>
                <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
                    <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner">
                        <mat-form-field class="w-100">
                            <mat-label>{{'label.password'|translate }}</mat-label>
                            <input matInput autocomplete="off" placeholder="{{ 'label.password'|translate }}" formControlName="password" type="password">
                            <mat-error *ngIf="passwordForm.controls['password'].errors?.required">{{ 'error.field-required'|translate }}</mat-error>                
                            <mat-error *ngIf="passwordForm.controls['password'].errors?.minlength">{{ 'error.minpassword'|translate }}</mat-error>
                        </mat-form-field> 
                        
                        <mat-form-field class="w-100">
                            <mat-label>{{'label.confirm_password'|translate }}</mat-label>
                            <input matInput autocomplete="off" placeholder="{{ 'label.confirm_password'|translate }}" formControlName="confirmPassword" type="password">
                            <mat-error *ngIf="passwordForm.controls['confirmPassword'].errors?.required">{{ 'error.field-required'|translate }}</mat-error>                  
                            <mat-error *ngIf="passwordForm.controls['confirmPassword'].errors?.mustMatch">{{ 'error.password-mismatch'|translate }}</mat-error>
                        </mat-form-field>                            
                    </mat-card>   
                    <button mat-raised-button color="primary" class="mat-elevation-z12 box-button" type="submit">{{ 'button.save'|translate }}</button>
                </mat-card-content>    
            </mat-card>    
        </form>    
    </div>
</mat-sidenav-container>    
  