<div class="menu-item">
    <a mat-button 
        fxLayout="row" [fxLayoutAlign]="(settings.menuType=='default') ? 'start center' : 'center center'"
        [routerLink]="['/home']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
        [matTooltip]="'menu.diet'|translate" matTooltipPosition="after" [matTooltipDisabled]="(settings.menuType=='mini') ? 'false' : 'true'"
        (click)="onClick(1)" [id]="'menu-item-'+1">
        <mat-icon class="menu-icon">home</mat-icon>
        <span class="menu-title">{{'menu.home'|translate }}</span>
    </a>
    <a mat-button 
        fxLayout="row" [fxLayoutAlign]="(settings.menuType=='default') ? 'start center' : 'center center'"
        [routerLink]="['/diet']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
        [matTooltip]="'menu.diet'|translate" matTooltipPosition="after" [matTooltipDisabled]="(settings.menuType=='mini') ? 'false' : 'true'"
        (click)="onClick(2)" [id]="'menu-item-'+1">
        <mat-icon class="menu-icon">local_dining</mat-icon>
        <span class="menu-title">{{'menu.diet'|translate }}</span>
    </a>
    <a mat-button 
        fxLayout="row" [fxLayoutAlign]="(settings.menuType=='default') ? 'start center' : 'center center'"
        [routerLink]="['/training']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
        [matTooltip]="'menu.training'|translate" matTooltipPosition="after" [matTooltipDisabled]="(settings.menuType=='mini') ? 'false' : 'true'"
        (click)="onClick(2)" [id]="'menu-item-'+2">
        <mat-icon class="menu-icon">fitness_center</mat-icon>
        <span class="menu-title">{{'menu.training'|translate }}</span>
    </a>
    <a mat-button 
        fxLayout="row" [fxLayoutAlign]="(settings.menuType=='default') ? 'start center' : 'center center'"
        [routerLink]="['/see-weight']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
        [matTooltip]="'menu.weight'|translate" matTooltipPosition="after" [matTooltipDisabled]="(settings.menuType=='mini') ? 'false' : 'true'"
        (click)="onClick(3)" [id]="'menu-item-'+3">
        <mat-icon class="menu-icon">portrait</mat-icon>
        <span class="menu-title">{{'menu.weight'|translate }}</span>
    </a>
    <a mat-button 
        fxLayout="row" [fxLayoutAlign]="(settings.menuType=='default') ? 'start center' : 'center center'"
        [routerLink]="['/rpe']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
        [matTooltip]="'menu.rpe'|translate" matTooltipPosition="after" [matTooltipDisabled]="(settings.menuType=='mini') ? 'false' : 'true'"
        (click)="onClick(4)" [id]="'menu-item-'+4">
        <mat-icon class="menu-icon">adjust</mat-icon>
        <span class="menu-title">{{'menu.rpe'|translate }}</span>
    </a>
    <a mat-button 
        fxLayout="row" [fxLayoutAlign]="(settings.menuType=='default') ? 'start center' : 'center center'"
        [routerLink]="['/wellness']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
        [matTooltip]="'menu.wellness'|translate" matTooltipPosition="after" [matTooltipDisabled]="(settings.menuType=='mini') ? 'false' : 'true'"
        (click)="onClick(4)" [id]="'menu-item-'+4">
        <mat-icon class="menu-icon">eco</mat-icon>
        <span class="menu-title">{{'menu.wellness'|translate }}</span>
    </a>
    <a mat-button 
    fxLayout="row" [fxLayoutAlign]="(settings.menuType=='default') ? 'start center' : 'center center'"
    [routerLink]="['/advice']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
    [matTooltip]="'menu.advice'|translate" matTooltipPosition="after" [matTooltipDisabled]="(settings.menuType=='mini') ? 'false' : 'true'"
    (click)="onClick(4)" [id]="'menu-item-'+4">
    <mat-icon class="menu-icon">assignment_ind</mat-icon>
    <span class="menu-title">{{'menu.advice'|translate }}</span>
</a>

</div>